body{
    text-align:center;
    font-family: "Happy Monkey", system-ui;
    background: linear-gradient(#a2d2ff ,#EFB0C9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#Nawal-picture{
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;

}

h1,
h2, 
h4, 
.footer{
    text-shadow: 0 0 1px black;
}

#bday-age{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px ;
    margin: 10px 0 0 0;
}

#bday-time{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}
#header{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.gift-section{
    margin-top: 50px;
}

.h2-gift{
    margin-bottom: 10px;
}

.img-gift{
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(./images/Untitled\ design\ \(3\).png);
    height: 400px;
    margin: 0px auto;
    background-size: cover;
}

.img-gift:hover{
    background-image: url(./images/happy.gif);
}

#img-hot:hover{
    background-image: url(./images/react.gif);
}

#genius-img:hover{
    background-image: url(./images/genuis.gif);
}

#badass-img:hover{
    background-image: url(./images/badass.webp);
}

#cheers-img{
    height: 200px;
}
#cheers-img:hover{
    background-image: url(./images/Untitled\ design.png);
}

.footer{
    font-style: italic;
    width: 400px;
    margin: 30px auto 20px;
}

a{
    color:white;
}
